# Data Science Tools and Ecosystem

## Author:
Jinze Gu

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
Data management tools are:
- Oracle Datebase
- Microsoft SQL server
- IBM Db2

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. VBA

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

| Data Science Tools |
| :----: |
| Hadoop | 
| Spark | 
| Pandas |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours,'hours')

3.3333333333333335 hours